/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@font-face {font-family: "Helvetica Now Display"; src: url("//db.onlinewebfonts.com/t/04e6981992c0e2e7642af2074ebe3901.eot"); src: url("//db.onlinewebfonts.com/t/04e6981992c0e2e7642af2074ebe3901.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/04e6981992c0e2e7642af2074ebe3901.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/04e6981992c0e2e7642af2074ebe3901.woff") format("woff"), url("//db.onlinewebfonts.com/t/04e6981992c0e2e7642af2074ebe3901.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/04e6981992c0e2e7642af2074ebe3901.svg#Helvetica Now Display") format("svg"); }
@font-face {font-family: 'HelveticaNowText';src: url('../font/HelveticaNowText-Regular.ttf');font-weight: normal;font-style: normal;}
@font-face {font-family: 'BankGothic';src: url('../font/BankGothicBold.ttf');font-weight: normal;font-style: normal;}

/* VARIABLES CSS */
:root{
    --header-height: 3rem;
    
    /* Colors */
    --yellow-color: #fcae18;
    --dark-color: #000000;
    --dark-color-alt: #0b0b0b;
    --white-color: #ffffff;
    --white-color-two: #e8e8e8;



    /* Fonts */
    --body-font: 'HelveticaNowText', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* z index */
    --z-fixed: 100;
}
:root{
    @media screen and (min-width: 768px){
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* BASE */
*,::before,::after{
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: var(--dark-color-alt) !important;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* HEADER */
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: var(--dark-color);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;

    &__logo{
        color: var(--white-color);
    }
    &__toggle{
        font-size: 1.5rem;
        color: var(--white-color);
        cursor: pointer;
    }
}
/* NAV */
@media screen and (max-width: 768px){
    .nav{
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--dark-color);
        color: var(--white-color);
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        z-index: var(--z-fixed);
        transition: .5s;
    }
}

.nav{
    &__content{
        height: 100%;
        grid-template-rows: max-content 1fr max-content;
        row-gap: 2rem;
    }
    &__close{
        position: absolute;
        right: 1.5rem;
        font-size: 1.3rem;
        padding: .25rem;
        background-color: var(--dark-color-alt);
        border-radius: 50%;
        cursor: pointer;
    }
    &__img{
        display: flex;
        justify-content: center;
        padding-top: .25rem;
        margin-bottom: .8rem;
        width: 100px;
        height: 100px;
        overflow: hidden;

        & img{
            width: auto;
        }
    }
    &__name{
        display: block;
        color: var(--white-color);
    }
    &__profesion{
        font-size: var(--small-font-size);
    }
    &__menu{
        margin-top: -100px;
        align-self: center;
    }
    &__item{
        margin: 2.5rem 0;
    }
    &__link{
        color: var(--white-color);
    }
    &__social{
        padding-top: .5rem;

        &-icon{
            font-size: 1.2rem;
            color: var(--white-color);
            margin-right: 1rem;
    
            &:hover{
                color: var(--yellow-color);
            }
        }
    }

}
/*Aparecer menu*/
.show{
    left: 0;
}

/*Active menu*/
.active{
    color: var(--yellow-color);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .header{
        height: calc(var(--header-height) + 1rem);

        &__logo, &__toggle{
            display: none;
        }
    }
    .nav{
        width: 100%;

        &__content{
            grid-template-columns: repeat(3, max-content);
            grid-template-rows: 1fr;
            column-gap: 1rem;
            justify-content: space-between;
        }
        &__close, &__profesion{
            display: none;
        }
        &__perfil{
            display: flex;
            align-items: center;
        }
        
        &__img{
            padding-top: 1.5rem;
            width: 100px;
            height: 50px;
            margin-right: .5rem;
            margin-bottom: 0;
            align-items: center;

            & img{
                width: 100px;
            }
        }
        &__menu{
            margin-bottom: -100px;
            align-self: center;
        }
        &__list{
            display: flex;
        }
        &__social{
            display: flex;
            padding-top: 1rem;
        }
        &__item{
            margin: 0 .25rem;
        }
        &__link{
            
            padding: .5rem .8rem;
            border-radius: .25rem;

            &:hover{
                background-color: var(--yellow-color);
            }
        }
    }
    .active{
        background-color: var(--yellow-color);
        color: var(--white-color);
    }
}

@media screen and(min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

.container-barra {
    margin-top: 65px;
    width: 100%;
    height: 2px;
    background-color: #1a1a1a;
}

.barra {
    width: 100%;
    height: 100%;
    background-color: var(--yellow-color);
    animation-name: loading;
    animation-duration: .5s;
}

@keyframes loading {
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container-barra{
        margin-top: 30px;
    }

    .barra {
        width: 100%;
    }
}
#apresentation-area {
    margin: 0;
    padding: 0;
}
.banner-content-area {
    position: relative;
    width: 100%;
    height: 560px;
  }
  
  .banner-img-area {
    float: left;
    overflow: hidden;
    width: 70%;
    height: 100%;
  }
  
  .banner-text-area {
    position: relative;
    padding: 80px 40px;
    width: 30%;
    height: 100%;
    background-color: var(--dark-color);
    float: right;

    .area-text {
        position: relative;
        width: 100%;
        height: 100%;
        
        .button {
            height: 62px;
            width: 245px;
            margin-top: 20px;
            bottom: 0;
            background: transparent;
            border: 1px solid var(--white-color-two);
            border-radius: 0.25rem;
            text-transform: uppercase;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: var(--yellow-color);
                border: none;
                transition: all .2s ease;

                a {
                    color: var(--dark-color)
                }
            }
        }

        a {
            color: var(--white-color);
            padding: 20px 60px;
            font-family: 'HelveticaNowText', Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 100%;
        }
    }

    .text-banner p{
        font-family: 'HelveticaNowText', Helvetica, sans;
        font-weight: 700;
        font-size: 15px;
        margin: 0;
        color: var(--white-color-two);
    }

    .text-banner h1 {
        font-family: 'BankGothic', sans-serif;
        font-weight: 900;
        margin: 30px 0px 30px 0px;
        padding: 0;
        color: var(--white-color);
        width: 95%;
        font-size: 30px;

    }

    .navigation {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    
    .bar {
        width: 80px;
        height: 4px;

        padding: 0;
        border-radius: 2px;

        background-color: hsla(0,0%,100%,.4);
        cursor: pointer;
    }

    .bar:not(:last-child) {
        margin: 0px 10px 0px 0px;
    }
    .bar:hover {
        background-color: var(--white-color);
        transition: 0.2s;
    }

    .active {
        background-color: var(--white-color);
    }
  }

.slidershow {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: all 0.1s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s2 {
    margin-left: -20%;
}

#r3:checked ~ .s3 {
    margin-left: -40%;
}

#r4:checked ~ .s4 {
    margin-left: -60%;
}

#principal-info {
    width: 100%;
    height: 550px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-infos {
    position: relative;
    width: 1280px;
    height: 360px;

    .texts-infos{
        position: absolute;
        height: 100%;
        width: 50%;
        color: var(--white-color);

        .infos {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }

    h3 {
        padding: 0;
        margin: 0;
        width: 90%;
        font-weight: 800;
        font-size: 30px;
        font-family: 'BankGothic', sans-serif;

    }

    p {
        padding-top: 10px;
        width: 85%;
        text-align: left;
        font-family: 'HelveticaNowText', sans-serif;
        font-size: 18px;
    }

    button {
        position: absolute;
        bottom:   0;
        height: 62px;
        width: 245px;
        background: transparent;
        border: 1px solid var(--white-color-two);
        border-radius: 0.25rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: var(--yellow-color);
            border: none;
            transition: all .2s ease;

            a {
                color: var(--dark-color)
            }
        }

        a {
            flex-wrap: nowrap;
            color: var(--white-color);
            font-family: 'HelveticaNowText', Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 700;
        }
    }        

    .image-infos {
        border-radius: 5px;
        float: right;
        height: 100%;
        width: 50%;
        color: var(--white-color);

        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;

        img{
            border-radius: 5px;
            height: 100%;
            width: auto;
        }
    }
}

#video-area {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    left: 50%;
    align-items: center;
    width: 100%;
    height: 550px;   
}

#cards-area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 50px;
    
    .product-container{

        .title-card-area{
            text-align: center;
            h1 {
                font-family: 'BankGothic', sans-serif;
                font-size: 50px;
                color: var(--white-color);
                }        
        }     
    }
    
    .card-content{
        .icon-color {
            color: var(--yellow-color);
        }
    }

    a,
    a:hover,
    a:active {
        text-decoration: none;
        color: var(--dark-color-alt);
        transition: color 0.3s ease;
    }
    
    .product-card {
        position: relative;
        margin: 20px 0px;
        z-index: 1;
        display: block;
        background: var(--dark-color);
        min-width: 270px;
        height: 470px;
        box-shadow: 12px 15px 20px 0px rgba(0, 0, 0, 0.15);
        border-radius: .5rem;
        transition: all 0.3s ease;
    }
    
    .product-card .card-thumbnail {
        background: var(--dark-color);
        /* height: 400px; */
        overflow: hidden;
    }
    
    .product-card .card-thumbnail img {
        display: block;
        width: 120%;
        -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
        -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
        transition: all .3s cubic-bezier(0, .5, .5, 1);
    }
    
    .product-card:hover .card-thumbnail img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        opacity: .6;
    }
    
    .fa-send:before {
        color: var(--dark-color);
        position: absolute;
        top: 15px;
        left: 13px;
    }
    
    .card-content {
        h1, h2 {
            font-family: 'BankGothic', sans-serif;
            font-size: 24px;
            text-transform: uppercase;
        }

        p {
            font-family: 'BankGothic', sans-serif;
            font-size: 20px;
            text-transform: uppercase;
            color: var(--white-color);
        }

        span {
            font-weight: 800;
            color: var(--yellow-color);
        }
    }
    .product-card .card-content {
        position: absolute;
        bottom: 0;
        background: var(--dark-color);
        width: 100%;
        padding: 40px 30px;
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    }
    
    .product-card .card-content .send {
        position: absolute;
        top: -30px;
        right: 10px;
        height: 60px;
        width: 60px;
        background: var(--yellow-color);
        border-radius: 50%;
        cursor: pointer;
        transition: all 1s ease;
        transition-delay: 0.3s;
        opacity: 0;
    }
    
    .product-card:hover .card-content .send {
        opacity: 1;
    }
    
    .product-card .card-content .card-title {
        margin: 0;
        padding: 0 0 10px;
        color: var(--white-color);
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
    }
    
    .product-card .card-content .card-sub-title {
        margin: 0;
        padding: 0 0 20px;
        color: var(--yellow-color);
        font-size: 15px;
        font-weight: 400;
        text-transform: capitalize;
    }
    
    .product-card .card-content .description {
        color: var(--white-color);
        font-size: 12px;
        line-height: 1.8em;
        display: none;
        /* height: 0px; */
    }
    
    .product-card .card-content .post-meta {
        margin: 30px 0 0;
        color: var(--white-color);
    }
    
    .product-card .card-content .post-meta .time-stamp {
        margin: 0 80px 0 0;
    }
    
    .product-card .card-content .post-meta a {
        color: inherit;
        text-decoration: none;
    }
}

#principal-info-2 {
    width: 100%;
    height: 550px;
    background-color: var(--dark-color);
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-infos-2 {
    position: relative;
    width: 1280px;
    height: 360px;

    .info-price {
        position: absolute;
        float: right;
        right: 0;
        width: 50%;
        height: 70px;
        bottom: 0;

        display: inline-block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .valor {
            position: relative;
            float: left;
            margin-left: 5rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            display: flex;
            justify-content: center;
            align-items: center;

            height: 62px;
            width: 245px;
            border-radius: 0.25rem;
            text-transform: uppercase;
            background-color: var(--yellow-color);

            .descount-icon {
                float: left;
                padding-left: 10px;
            }
            a{
                flex-wrap: nowrap;
                color: var(--dark-color);
                font-family: 'HelveticaNowText', Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700; 
            }
        }

        .button {
            position: absolute;
            margin-right: 2rem;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background: transparent;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 62px;
            width: 245px;
            border-radius: 0.25rem;
            border: 1px solid var(--white-color-two);
            
            text-transform: uppercase;
            cursor: pointer;
    
            &:hover {
                background-color: var(--yellow-color);
                border: none;
                transition: all .2s ease;
    
                a {
                    color: var(--dark-color)
                }
            }

            a {
                flex-wrap: nowrap;
                color: var(--white-color);
                font-family: 'HelveticaNowText', Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
    .texts-infos-2{
        position: absolute;
        float: left;
        right: 0;
        height: 100%;
        width: 50%;
        color: var(--white-color);

        .infos-2 {
            position: relative;
            margin-left: 5rem;
            height: 100%;
            width: 100%;
        }
    }

    h3 {
        padding: 0;
        margin: 0;
        width: 90%;
        font-weight: 800;
        font-size: 30px;
        font-family: 'BankGothic', sans-serif;

    }

    p {
        padding-top: 10px;
        width: 85%;
        text-align: left;
        font-family: 'HelveticaNowText', sans-serif;
        font-size: 18px;
    }

    .image-infos-2 {
        border-radius: 5px;
        float: left;
        height: 100%;
        width: 50%;
        color: var(--white-color);

        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;

        img{
            border-radius: 5px;
            height: 100%;
            width: auto;
        }
    }
}

#contact-area {
    position: relative;
    width: 100%;
    height: 640px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    .container-contact {
        width: 40%;
        height: 100%;
        
        textarea:focus, input:focus{
            box-shadow: 0 0 0 0;
            border: 1px solid var(--yellow-color);
            outline: 0;
        }
    
        textarea:hover, input:hover {
            box-shadow: 0 0 0 0;
            border: 1px solid var(--yellow-color);
            outline: 0;
        } 
    
        input::placeholder, textarea::placeholder{
            font-family: 'HelveticaNowText', Helvetica, sans-serif;
            font-weight: lighter;
            color:var(--white-color-two);
        }

        h1 {
            margin-top: 50px;
            margin-bottom: -50px;
            text-align: center;
            font-family: 'BankGothic', Helvetica, sans-serif;
            font-size: 40px;
            color: var(--white-color);
        
        }
        .form-contact {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            font-family: 'BankGothic', sans-serif;
          }
          
          .form-contact-input {
            width: 100%;
            color: var(--yellow-color);
            font-size: 18px;
            background-color: var(--dark-color);
            border: 1px solid var(--dark-color);
            -moz-border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
            height: 40px;
            margin-bottom: 20px;
            border: 1px solid var(--white-color);
            text-indent: 20px;
            transition: all .2s ease;
          }
          
          .form-contact-textarea {
            width: 100%;
            color: #292929;
            font-size: 18px;
            background-color: var(--dark-color);
            border: 1px solid var(--dark-color);
            -moz-border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
            border-radius: 0.25rem;
            height: 200px;
            margin-bottom: 20px;
            border: 1px solid var(--white-color);
            text-indent: 20px;
            font-family: "Arial", Times, serif;
            transition: all .2s ease;
    
          }
          
          .form-contact-button {
            width: 100%;
            font-family: 'BankGothic', sans-serif;
            font-size: 25px;
            border-radius: 4px;
            color: var(--dark-color);
            height: 40px;
            margin-bottom: 20px;
            cursor: pointer;
            background: var(--yellow-color);
            border: none;
            transition: all .2s ease;
          }
          
          .form-contact-button:hover {
            color: var(--white-color);
          }
    }
    
}

/* footer */
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--dark-color);
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--white-color);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--yellow-color);
	height: 3px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: var(--white-color);
	text-decoration: none;
	font-weight: 300;
	color: var(--white-color-two);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--white-color-two);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: var(--white-color);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--dark-color);
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: var(--dark-color-alt);
	background-color: var(--yellow-color);
}

.credits {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* centraliza na vertical */
    align-items: center;

    p {
        font-family: 'HelveticaNowText', Helvetica, sans-serif;
        color: var(--white-color);

        span {
            color:var(--yellow-color);
            font-weight: bold;
        }
    }
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media(min-width: 768px){
    #mobile-area {
    display: none;
    }
}

@media (max-width: 768px) {

    .header {
        width: 100%;
    }

    #apresentation-area {
        margin: 0;
        padding: 0;
    }
    .banner-content-area {
        position: relative;
        width: 100%;
        height: 100%;
      }
      
      .banner-img-area {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
        }
      }
      
      .banner-text-area {
        position: relative;
        padding: 30px;
        width: 100%;
        height: 480px;
        background-color: var(--dark-color);
    
        .area-text {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;

            .button {
                height: 62px;
                width: 245px;
                margin-top: 20px;

                background: transparent;
                border: 1px solid var(--white-color-two);
                border-radius: 0.25rem;
                text-transform: uppercase;
                cursor: pointer;
                text-align: center;
    
                &:hover {
                    background-color: var(--yellow-color);
                    border: none;
                    transition: all .2s ease;
    
                    a {
                        color: var(--dark-color)
                    }
                }
            }
    
            a {
                color: var(--white-color);
                font-family: 'HelveticaNowText', Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700;
                line-height: 100%;
            }
        }
    
        .text-banner p{
            font-family: 'HelveticaNowText', Helvetica, sans;
            font-weight: 700;
            font-size: 15px;
            margin: 0;
            color: var(--white-color-two);
        }
    
        .text-banner h1 {
            font-family: 'BankGothic', sans-serif;
            font-weight: 900;
            margin: 30px 0px 30px 0px;
            padding: 0;
            color: var(--white-color);
            width: 95%;
            text-align: left !important;
            font-size: 30px;
    
        }
    
        .navigation {
            position: absolute;
            display: flex;
            padding-bottom: 20px;
        }
        
        .bar {
            width: 80px;
            height: 4px;
    
            padding: 0;
            border-radius: 2px;
    
            background-color: hsla(0,0%,100%,.4);
            cursor: pointer;
        }
    
        .bar:not(:last-child) {
            margin: 0px 10px 0px 0px;
        }
        .bar:hover {
            background-color: var(--white-color);
            transition: 0.2s;
        }
    
        .active {
            background-color: var(--white-color);
        }
      }
    
    .slidershow {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }    
    

    #principal-info {
        width: 100%;
        height: auto;
        padding: 30px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .principal-infos {
        position: relative;
        width: 100%;
        height: 600px;
        
    
        .texts-infos{
            position: absolute;
            height: 100%;
            width: 100%;
            color: var(--white-color);
    
            .infos {
                position: relative;
                height: 100%;
                width: 100%;
            }
        }
    
        h3 {
            padding: 0;
            margin: 0;
            width: 90%;
            font-weight: 800;
            font-size: 30px;
            font-family: 'BankGothic', sans-serif;
    
        }
    
        p {
            padding-top: 10px;
            width: 85%;
            text-align: left;
            font-family: 'HelveticaNowText', sans-serif;
            font-size: 18px;
        }
        

        nav.button {
            margin: 20px;
        }        
    
        .image-infos {
            display: none;
        }
    }
    

    #video-area {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;   
    }

    #cards-area {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 30px;
        
        .product-container{
    
            .title-card-area{
                text-align: center;
                h1 {
                    font-family: 'BankGothic', sans-serif;
                    font-size: 50px;
                    color: var(--white-color);
                    }        
            }     
        }
        
        .card-content{
            .icon-color {
                color: var(--yellow-color);
            }
        }
    
        a,
        a:hover,
        a:active {
            text-decoration: none;
            color: var(--dark-color-alt);
            transition: color 0.3s ease;
        }
        
        .product-card {
            position: relative;
            margin: 20px 0px;
            z-index: 1;
            display: block;
            background: var(--dark-color);
            min-width: 270px;
            height: 470px;
            box-shadow: 12px 15px 20px 0px rgba(0, 0, 0, 0.15);
            border-radius: .5rem;
            transition: all 0.3s ease;
        }
        
        .product-card .card-thumbnail {
            background: var(--dark-color);
            /* height: 400px; */
            overflow: hidden;
        }
        
        .product-card .card-thumbnail img {
            display: block;
            width: 120%;
            -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
            -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
            transition: all .3s cubic-bezier(0, .5, .5, 1);
        }
        
        .product-card:hover .card-thumbnail img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            transform: scale(1.1);
            opacity: .6;
        }
        
        .send {
            text-align: center;
            color: var(--dark-color);
        }

        .fa-send:before {
            color: var(--dark-color);
            position: absolute;
            top: 15px;
            left: 13px;
        }
        
        .card-content {
            h1, h2 {
                font-family: 'BankGothic', sans-serif;
                font-size: 24px;
                text-transform: uppercase;
            }
    
            p {
                font-family: 'BankGothic', sans-serif;
                font-size: 20px;
                text-transform: uppercase;
                color: var(--white-color);
            }
    
            span {
                font-weight: 800;
                color: var(--yellow-color);
            }
        }
        .product-card .card-content {
            position: absolute;
            bottom: 0;
            background: var(--dark-color);
            width: 100%;
            padding: 40px 30px;
            -webkti-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
            transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        }
        
        .product-card .card-content .send {
            position: absolute;
            top: -30px;
            right: 10px;
            height: 60px;
            width: 60px;
            background: var(--yellow-color);
            border-radius: 50%;
            cursor: pointer;
            transition: all 1s ease;
            transition-delay: 0.3s;
            opacity: 0;
        }
        
        .product-card:hover .card-content .send {
            opacity: 1;
        }
        
        .product-card .card-content .card-title {
            margin: 0;
            padding: 0 0 10px;
            color: var(--white-color);
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
        }
        
        .product-card .card-content .card-sub-title {
            margin: 0;
            padding: 0 0 20px;
            color: var(--yellow-color);
            font-size: 15px;
            font-weight: 400;
            text-transform: capitalize;
        }
        
        .product-card .card-content .description {
            color: var(--white-color);
            font-size: 12px;
            line-height: 1.8em;
            display: none;
            /* height: 0px; */
        }
        
        .product-card .card-content .post-meta {
            margin: 30px 0 0;
            color: var(--white-color);
        }
        
        .product-card .card-content .post-meta .time-stamp {
            margin: 0 80px 0 0;
        }
        
        .product-card .card-content .post-meta a {
            color: inherit;
            text-decoration: none;
        }
    }

    #principal-info-2 {
        display: none;
    }

    #contact-area {
        position: relative;
        width: 100%;
        height: 640px;
        margin: 0 auto;
    
        display: flex;
        justify-content: center;
        align-items: center;
        
        .container-contact {
            width: 90%;
            height: 100%;
            
            textarea:focus, input:focus{
                box-shadow: 0 0 0 0;
                border: 1px solid var(--yellow-color);
                outline: 0;
            }
        
            textarea:hover, input:hover {
                box-shadow: 0 0 0 0;
                border: 1px solid var(--yellow-color);
                outline: 0;
            } 
        
            input::placeholder, textarea::placeholder{
                font-family: 'HelveticaNowText', Helvetica, sans-serif;
                font-weight: lighter;
                color:var(--white-color-two);
            }
    
            h1 {
                margin-top: 25px;
                margin-bottom: -50px;
                text-align: center;
                font-family: 'BankGothic', Helvetica, sans-serif;
                font-size: 40px;
                color: var(--white-color);
            
            }
            .form-contact {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                font-family: 'BankGothic', sans-serif;
              }
              
              .form-contact-input {
                width: 100%;
                color: var(--yellow-color);
                font-size: 18px;
                background-color: var(--dark-color);
                border: 1px solid var(--dark-color);
                -moz-border-radius: 0.25rem;
                -webkit-border-radius: 0.25rem;
                border-radius: 0.25rem;
                height: 40px;
                margin-bottom: 20px;
                border: 1px solid var(--white-color);
                text-indent: 20px;
                transition: all .2s ease;
              }
              
              .form-contact-textarea {
                width: 100%;
                color: #292929;
                font-size: 18px;
                background-color: var(--dark-color);
                border: 1px solid var(--dark-color);
                -moz-border-radius: 0.25rem;
                -webkit-border-radius: 0.25rem;
                border-radius: 0.25rem;
                height: 200px;
                margin-bottom: 20px;
                border: 1px solid var(--white-color);
                text-indent: 20px;
                font-family: "Arial", Times, serif;
                transition: all .2s ease;
        
              }
              
              .form-contact-button {
                width: 100%;
                font-family: 'BankGothic', sans-serif;
                font-size: 25px;
                border-radius: 4px;
                color: var(--dark-color);
                height: 40px;
                margin-bottom: 20px;
                cursor: pointer;
                background: var(--yellow-color);
                border: none;
                transition: all .2s ease;
              }
              
              .form-contact-button:hover {
                color: var(--white-color);
              }
        }
        
    }

    .container-footer{
        max-width: 100%;
        padding: 20px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: var(--dark-color);
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 13px;
        color: var(--white-color);
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: var(--yellow-color);
        height: 3px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 13px;
        text-transform: capitalize;
        color: var(--white-color);
        text-decoration: none;
        font-weight: 300;
        color: var(--white-color-two);
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: var(--white-color-two);
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: var(--white-color);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: var(--dark-color);
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: var(--dark-color-alt);
        background-color: var(--yellow-color);
    }
    
    .credits {
        margin: 0;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        /* centraliza na vertical */
        align-items: center;
    
        p {
            font-family: 'HelveticaNowText', Helvetica, sans-serif;
            color: var(--white-color);
    
            span {
                color:var(--yellow-color);
                font-weight: bold;
            }
        }
    }

}



/* animaçãoes scroll */
[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, 600px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}